@font-face {
    font-family: 'UCity';
    font-weight: 'normal';
    src: url('../fonts/UCity/UCity-Regular.ttf');
}

@font-face {
    font-family: 'UCity';
    font-weight: 'light';
    src: url('../fonts/UCity/UCity-Light.ttf');
}

@font-face {
    font-family: 'UCity';
    font-weight: 'semibold';
    src: url('../fonts/UCity/UCity-Semibold.ttf');
}

html, body{
    margin: 0;
    font-weight: 'light';
    font-size: 16px;
    font-family: 'UCity', Courier, Helvetica, sans-serif;
}