@import 'variables.scss';

.main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $secondary;
    color: $main
}

.content{
    width: 100%;
    height: 100%;
    position: relative;
}

.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h1{
        margin: 0;
        font-size: 50vh;
    }
}


.blackBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.animatableContainer{
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 100;

    .circle{
        transform: translate(56%,30%);
    }

    .nav{
        position: absolute;
        top: 40%;
        left: 72%;
        color: black;
        
        h3{
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .links{
            display: flex;
            flex-direction: column;
            color: red;
            padding-left: 5rem;

            h3{
                margin: 0;
            }

            h3:hover{
                cursor: pointer;
                color: darkred;
            }
        }
    }
}

.title2{
    position: absolute;
    top: 51%;
    left: 10%;
    p{
        margin: 0;
        font-size: 2rem;
    }
}