$sidebarWidth: 15%;
$leftContentPadding: 75px;

.main{
    display: flex;
    flex-direction: column;
}

.titleWrapper{
    color: white;
    background-color: black;
    flex: 0 0 calc(100% - $sidebarWidth);
    padding-left: $leftContentPadding;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

    p{
        margin: 0;
    }

    h3{
        margin: 0;  
        margin: 8px 0;
        font-size: 3 * 1rem;
    }
}

.titleContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-top: 50vh;

    p{
        margin-bottom: 1rem;
    }
}

.sideText{
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    margin-top: 7.5rem;

    h3{
        width: 100%;
        font-size: 4rem;
    }
    p{
        margin-left: auto;
    }
}

.subtitleContent{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

.sidebar{
    color: black;
    background-color: white;
    flex: 0 0 $sidebarWidth;
}

$tileSpacer: 11rem;

.contents{
    width: 100%;
    margin-top: 10rem;

    margin-left: 15%;
    padding-right: 7.5rem;
    margin-bottom: $tileSpacer;
}


.tile{
    width: 50%;
    display: flex;
    margin-bottom: $tileSpacer;

    .text{
        display: flex;
        flex-direction: column;
    }
}

.leftText{
    flex-direction: row;
    border-right: 1px solid black;
    padding-right: 5rem;
}

.rightText{
    flex-direction: row-reverse;
    border-left: 1px solid black;
    padding-left: 5rem;
}

.centralImg{
    margin-left: -7.5%;
    margin-bottom: 10rem;
    position: relative;
}

.sideText2{
    color: red;
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    position: absolute;
    bottom: 0;
    left: 50%;

    h3{
        width: 100%;
        font-size: 6rem;
    }
    p{
        margin-left: auto;
    }
}

.scrollingText{
    position: fixed;
    width: 100vh;
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translate(-42%,0);
    text-align: center;
    transform-origin: 0;

    h3{
        margin: 0;
        font-size: 12rem;
    }
}

.tempTile{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 10rem;

    .tempText{
        width: 15%;
        font-size: 1rem;
        p{
            margin-top: 0;
        }
    }

    .tempTextVert{
        width: 75%;
        font-size: 0.9rem;
        display: flex;
        margin-left: -7.5%
        p{
            flex: 1;
            margin-top: 0;
        }
    }

    .tempText2{
        width: 15%;
        p{
            margin-top: 0;
        }
    }

    .tempImg{
        position: relative;
        padding-left: 2.5rem;
    }

    .tempImg2{
        position: relative;
        margin-right: 2.5rem;
        border: 1px solid #0000003d;
    }

    .tempImg3{
        position: relative;
        width: 85%;
        margin-left: 2.5rem;
    }

    .tempImg35{
        position: relative;
        width: 85%;
        margin-right: 2.5rem;
    }

    .tempImg4{
        position: relative;
        margin-right: 2.5rem;
        border: 1px solid #0000003d;
        display: flex;
        flex-direction: column;
    }
}