$sidebarWidth: 15%;
$leftContentPadding: 75px;

.main{
    display: flex;
    flex-direction: column;
}

.titleWrapper{
    color: white;
    background-color: black;
    flex: 0 0 calc(100% - $sidebarWidth);
    padding-left: $leftContentPadding;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

    p{
        margin: 0;
    }

    h3{
        margin: 0;  
        margin: 8px 0;
        font-size: 3 * 1rem;
    }
}

.titleContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-top: 50vh;

    p{
        margin-bottom: 1rem;
    }
}

.sideText{
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    margin-top: 7.5rem;

    h3{
        width: 100%;
        font-size: 4rem;
    }
    p{
        margin-left: auto;
    }
}

.subtitleContent{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

$tileSpacer: 11rem;

.contents{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr 3fr 3fr 3fr;
    font-size: 0.85rem;

    div{
        //border-left: 1px solid black;

        p{
            margin: 0;
            padding: 1rem;
        }
    }

    .sideBar{
       // background-color: red;
        .sideText{
            transform: rotate(90deg);
            font-size: 6rem;
            margin: 0;
        }
    }

}

.interactText{
    cursor: pointer;
    color: white;
    background: black;
    padding: 0 0.2rem;
    margin: 0;

    &:hover{
        color: red;
    }
}

.black{
    background: black;
}