$sidebarWidth: 15%;
$leftContentPadding: 75px;

.main{
    display: flex;
    flex-direction: column;
}

.titleWrapper{
    color: white;
    background-color: black;
    flex: 0 0 calc(100% - $sidebarWidth);
    padding-left: $leftContentPadding;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

    p{
        margin: 0;
    }

    h3{
        margin: 0;  
        margin: 8px 0;
        font-size: 3 * 1rem;
    }
}

.titleContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-top: 50vh;

    p{
        margin-bottom: 1rem;
    }
}

.sideText{
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    margin-top: 7.5rem;

    h3{
        width: 100%;
        font-size: 4rem;
    }
    p{
        margin-left: auto;
    }
}

.subtitleContent{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

.sidebar{
    color: black;
    background-color: white;
    flex: 0 0 $sidebarWidth;
}

$tileSpacer: 11rem;

.contents{
    width: 100%;
    margin-top: 5rem;

    margin-left: 15%;
    padding-right: 7.5rem;
    margin-bottom: $tileSpacer;
}


.tile{
    width: 50%;
    display: flex;
    margin-bottom: $tileSpacer;

    .text{
        display: flex;
        flex-direction: column;
    }
}

.leftText{
    flex-direction: row;
    border-right: 1px solid black;
    padding-right: 5rem;
}

.rightText{
    flex-direction: row-reverse;
    border-left: 1px solid black;
    padding-left: 5rem;
}